workDir = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/evotree/deeptools_spruce_nf_workdir"

params {
  // Output directory
  outdir = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/evotree/deeptools_spruce_nf_out"

  // Apptainer image cache
  apptainer_cache = "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/evotree/apptainer_cache"
  
  // deepTools container
  deeptools_container = "docker://quay.io/biocontainers/deeptools:3.5.6--pyhdfd78af_0"

  // Workflow switches
  run_bamcoverage   = true
  run_computematrix = true
  run_plotheatmap   = true
  run_plotprofile   = false

  // BAM input for bamCoverage
  bam_files = [
    [
      sample: "spruce_wood",
      bam: "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/ATAC.wood/bowtie2.filtered_q20.markdup/ATAC_wood_EKDL230010469-1A_HGW32DSX7_L3_trimmomatic.filtered.markdup.sorted.bam",
      index: "/mnt/ada/projects/spruce/nstreet/spruce_chromatin_dynamics/ATAC.wood/bowtie2.filtered_q20.markdup/ATAC_wood_EKDL230010469-1A_HGW32DSX7_L3_trimmomatic.filtered.markdup.sorted.bam.csi"
    ]
  ]

  // BigWig input when bamCoverage is skipped
  // Example: [ [ sample: "needle", bigwig: "/path/to/sample.bw" ] ]
  bigwig_files = []

  // BED files for computeMatrix
  region_files = [
    [
      name: "Picab_TSS",
      bed: "/mnt/picea/home/tkalman/FOR-ANALYSIS-IN-ALL-PHD-PROJECTS/Picea-abies/locked_annotation/Picab02_codingLongest.only_gene.TSS.bed"
    ]
  ]

  // Matrix input when computeMatrix is skipped
  // Example: [ [ sample: "needle", region_set: "gene_expression", matrix: "/path/to/matrix.mat.gz" ] ]
  matrix_files = []

  // bamCoverage arguments
  bamcoverage_args = '--normalizeUsing CPM --effectiveGenomeSize 17683410177 --binSize 100 --centerReads'

  // computeMatrix mode: scale-regions or reference-point
  compute_matrix_mode = 'reference-point'

  // computeMatrix arguments used in both modes
  computematrix_common_args = ''

  // computeMatrix scale-regions arguments
  computematrix_scale_regions_args = '--beforeRegionStartLength 1000 --regionBodyLength 2500 --afterRegionStartLength 1000'

  // computeMatrix reference-point arguments
  computematrix_reference_point_args = '--referencePoint TSS --beforeRegionStartLength 2000 --afterRegionStartLength 2000'

  // plotHeatmap arguments
  plotheatmap_args = "--whatToShow 'plot, heatmap and colorbar' --regionsLabel CPM --yAxisLabel CPM --heatmapHeight 20 --heatmapWidth 8"

  // plotProfile arguments
  plotprofile_args = '--regionsLabel CPM --yAxisLabel CPM'
}

apptainer {
  enabled    = true
  autoMounts = true
  cacheDir   = params.apptainer_cache
  runOptions = '--bind /mnt/ada:/mnt/ada --bind /mnt/picea:/mnt/picea --bind /mnt/reference:/mnt/reference'
}

process {
  executor = 'slurm'
  container = params.deeptools_container
  clusterOptions = '--account=u2021028 -p main --mail-user=teitur.ahlgren.kalman@umu.se --mail-type=BEGIN,END,FAIL'
  scratch = false
}

executor {
  pollInterval = '30 s'
  exitReadTimeout = '12 h'
}

profiles {
  slurm {
    process {
      queue = 'batch'
      errorStrategy = 'terminate'

      withName: 'BAMCOVERAGE' {
        cpus = 16
        memory = '64 GB'
        time = '12h'
      }

      withName: 'COMPUTEMATRIX' {
        cpus = 8
        memory = '128 GB'
        time = '1d'
      }

      withName: 'PLOTHEATMAP' {
        cpus = 2
        memory = '32 GB'
        time = '6h'
      }

      withName: 'PLOTPROFILE' {
        cpus = 2
        memory = '32 GB'
        time = '6h'
      }
    }
  }
}
